@import "../../public/style/reset.scss";
@import "../../public/style/variable.scss";

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 25px 0;
  width: 100%;
  z-index: 58;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  & .content {
    margin-left: $paddingSection;
    margin-right: $paddingSection;
    background: white;
    align-self: stretch;
    width: 100%;
    border-radius: $raduis;
    padding: 0;

    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    & .nav__large_screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  flex: none;
  & svg {
    height: 4rem;
    width: 4rem;
    //flex: none;
  }
  & h1 {
    font-family: $fontManropeExtraBold;
    font-size: 1.5rem;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  & .nav__item {
    font-family: $fontManropeBold;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    transition: all 0.5s linear;
    &:hover {
      opacity: 0.7;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 0%;
      background: $colorPrimaryBase;
      bottom: -20%;
      transition: all 0.5s linear;
    }
  }
  & .active-item-nav {
    color: $colorPrimaryBase;
    &::after {
      width: 80%;
    }
  }
}

.header__profil_user {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.btn-menu {
  background: $colorPrimaryBase;
  display: none !important;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px !important;
  border-radius: 0.2rem !important;
  & .line {
    height: 2px;
    width: 25px;
    background: white;
    transition: transform 0.3s ease;
  }
  &::after {
    border-radius: 0.2rem !important;
  }
}

.btn-menu.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.btn-menu.active .line:nth-child(2) {
  opacity: 0;
}

.btn-menu.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
@media only screen and (max-width: 1200px) {
  .header__nav,
  .header__profil_user {
    display: none !important;
  }
  .btn-menu {
    display: flex !important;
  }
}

@media only screen and (max-width: 570px) {
  .header__logo svg {
    height: 2.2rem !important;
    width: 2.2rem !important;
    flex: none;
  }
  .header__logo h1 {
    font-size: 1.3rem;
    font-family: $fontManropeExtraBold;
  }
}
