@import "./variable.scss";
@import "./reset.scss";
html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  scroll-behavior: smooth !important;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: $fontManropeLight;
  background: $colorPrimaryBase;
}

.page__container {
  background: $colorPrimary100;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page__content {
  padding-top: 100px;
}

.simple_link {
  font-family: $fontManropeMedium;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: all 0.5s linear;
  &:hover {
    text-decoration: underline;
  }
}

.section_page {
  padding: 100px $paddingSection;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
