@import "../../public/style/reset.scss";
@import "../../public/style/variable.scss";

/* HTML:  */
.loader__pages__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $colorPrimary100;
  z-index: 78;
  top: -0%;
}

/* HTML: <div class="loader"></div> */
.loader_page {
  width: fit-content;
  font-weight: bold;
  font-family: $fontManropeExtraBold;
  font-size: 30px;
  background: radial-gradient(circle closest-side, $colorPrimaryBase 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader_page::before {
  content: "BLOGOSPHERE...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: $fontManropeExtraBold;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
