@import "../public/style/reset.scss";
@import "../public/style/variable.scss";

#homePage {
  display: flex;
  flex-direction: column;
}

.content__categorie_post {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 10px;
  //   justify-content: space-between;
  //   align-items: flex-start;
}

#recents__post {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 55px;
  & .title__section {
    padding: 0 $paddingSection;
  }
  & .post__best {
    display: flex;
    overflow-x: scroll;
    column-gap: 25px;
    padding: 10px;
  }
}

.post__best::-webkit-scrollbar {
  display: none;
}

.categories__post {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  background: black;
  padding: 10px $paddingSection;
  column-gap: 5px;
  white-space: nowrap;
  margin-top: 25px;
  & span {
    color: white;
    flex: none;
  }
}

.marquee-content {
  display: inline-block;
  animation: marquee 40s linear infinite;

  &:hover {
    animation-duration: 0 !important;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
