@import "../../public/style/reset.scss";
@import "../../public/style/variable.scss";

.card__categories {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: none;
  height: 140px;
  width: 160px;
  border-radius: 0.8rem;
  padding: 8px;
  overflow: hidden;
  background: white;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    & .btn-swoh-post-cat {
      bottom: 49% !important;
      opacity: 1 !important;
    }
    & .cover__category {
      transform: scale(1.5) !important;
    }
  }
  & .content_cover {
    display: flex;
    overflow: hidden;
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;
    & .cover__category {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;

      transition: all 0.3s linear;
      transform: scale(1);
    }
  }

  & .content {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;

    & .infos {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.884)
      );
      width: 100%;
      width: 100%;
      border-radius: 0.8rem;
      margin: 8px;
      border-radius: 0.8rem;
      padding: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      & p {
        color: white;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-family: $fontManropeBold;
        text-align: center;
        line-height: 1.2rem;
      }

      .btn-swoh-post-cat {
        display: flex;
        align-items: center;
        background: $colorPrimaryBase;
        height: 40px;
        width: 40px;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        transition: all 0.3s linear;
        opacity: 0;
        & svg {
          fill: white;
        }
      }
    }
  }
}
