@import "../../public/style/reset.scss";
@import "../../public/style/variable.scss";

.card .cat {
  padding: 10px;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background: black;
  font-family: $fontManropeMedium;
  color: white;
  font-size: 0.9rem;
  overflow: hidden;
}
.card__categories {
  align-self: flex-start;
  position: relative;
  display: flex;
  overflow: hidden;
  flex: none;
  height: 140px;
  // width: 160px;
  border-radius: 0.8rem;
  padding: 8px;
  overflow: hidden;
  background: white;

  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    & .btn-swoh-post-cat {
      bottom: 49% !important;
      opacity: 1 !important;
    }
    & .cover__category {
      transform: scale(1.5) !important;
    }
  }
  & .content_cover {
    display: flex;
    overflow: hidden;
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;
    & .cover__category {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;

      transition: all 0.3s linear;
      transform: scale(1);
    }
  }

  & .content {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;

    & .infos {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.884)
      );
      width: 100%;
      width: 100%;
      border-radius: 0.8rem;
      margin: 8px;
      border-radius: 0.8rem;
      padding: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      & p {
        color: white;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-family: $fontManropeBold;
        text-align: center;
        line-height: 1.2rem;
      }

      .btn-swoh-post-cat {
        display: flex;
        align-items: center;
        background: $colorPrimaryBase;
        height: 40px;
        width: 40px;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        transition: all 0.3s linear;
        opacity: 0;
        & svg {
          fill: white;
        }
      }
    }
  }
}

.card__post_simple {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 0.8rem;
  padding: 8px;
  background: white;
  row-gap: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  flex: none;
  transition: all 0.3s linear;
  & * {
    transition: all 0.3s linear;
  }
  &:hover {
    & .cover img {
      transform: scale(1.2);
    }
    & .title__post {
      text-decoration: underline;
    }
  }
  & .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: hidden;
    border-radius: 0.8rem;
    flex: none;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & .details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    & .details-lecture {
      display: flex;
      align-items: center;
      gap: 10px;

      & .duration {
        color: $colorGray700;
        font-size: 0.9rem;
        font-family: $fontManropeMedium;
      }
    }
    & .title__post {
      font-size: 1.2rem;
      color: black;
      font-family: $fontManropeRegular;
      line-height: 1.8rem;
    }
    & .post__date {
      font-size: 0.8rem;
      color: $colorGray700;
    }
  }
}

.card__circle {
  display: flex;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  background: white;
  transition: all 0.3s linear;
  align-items: center;
  column-gap: 10px;
  text-decoration: none !important;
  & * {
    transition: all 0.3s linear;
  }
  &:hover {
    column-gap: 0;
    & .cover {
      transform: scale(15);
    }
    & .details {
      transform: translateX(-35%);
      &::after {
        opacity: 1;
      }
      & .title,
      .date {
        color: white;
      }
      & .title {
        text-decoration: underline;
      }
    }
  }
  & .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex: none;
  }
  & .details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
    word-wrap: break-word;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      transform: scale(5);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.305),
        rgba(0, 0, 0, 0.998)
      );
    }
    & .title {
      font-family: $fontManropeLight;
      font-size: 1rem;
      line-height: 1.3rem;
      color: black;
      z-index: 10;
    }
    & .date {
      font-family: $fontManropeLight;
      font-size: 0.8rem;
      color: black;
      z-index: 10;
      // margin-left: 22%;
    }
  }
}

.card__post__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 0.8rem;
  height: 400px;
  & .cover {
    height: 100%;
    width: 100%;
    flex: none;
    border-radius: 0.8rem;
  }
  & .details {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    & .title {
      background: white;
      border-radius: 0.8rem;
      padding: 15px;
      margin: 15px;
      font-family: $fontManropeMedium;
      color: rgb(0, 0, 0);
      font-size: 1.8rem;
      text-decoration: none;
      line-height: 2.2rem;
      transition: all 0.3s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card__post__large {
  border-radius: 0.8rem;
  padding: 8px;
  background: white;
  display: flex;
  align-items: center;
  column-gap: 10px;
  overflow: hidden;
  & .cover {
    height: 110px;
    width: 150px;
    flex: none;
    border-radius: 0.8rem;
    overflow: hidden;
  }
  & .title {
    text-transform: uppercase;
    font-family: $fontManropeLight;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.8rem;
    transition: all 0.3s linear;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card__post__default {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 250px;

  & .cover {
    height: 100%;
    width: 100%;
    flex: none;
    overflow: hidden;
  }
  & .details {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      rgba(221, 214, 214, 0),
      rgb(0, 0, 0)
    );
    & .cat {
      align-self: flex-end;
      margin: 15px;
    }
    & .title {
      font-family: $fontManropeLight;
      font-size: 1rem;
      line-height: 1.5rem;
      color: white;
      margin: 15px;
      text-decoration: none;
      transition: all 0.3s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .card__circle {
    & .title,
    .date {
      font-size: 0.9rem !important;
    }
    & .date {
      font-size: 0.7rem !important;
    }
  }

  .card__post__large {
    border-radius: 0.8rem;
    padding: 8px;
    background: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    overflow: hidden;
    & .cover {
      height: 80px;
      width: 100px;
      flex: none;
      border-radius: 0.8rem;
      overflow: hidden;
    }
    & .title {
      text-transform: uppercase;
      font-family: $fontManropeLight;
      color: rgb(0, 0, 0);
      font-size: 0.9rem;
      text-decoration: none;
      line-height: 1.2rem;
      transition: all 0.3s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card__auhtor__profil {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 5px solid white;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  row-gap: 15px;
  & .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .profil {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 100px;
      border: 5px solid white;
      border-radius: 0.5rem;
      flex: none;
    }
    & .btn__profil_user {
      background: black;
      color: white;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      padding: 15px;
    }
  }
  & .name__author {
    font-family: $fontManropeExtraBold;
    font-size: 1.1rem;
  }
  & .overview {
    font-family: $fontManropeLight;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

.container__card__profil__author {
  display: flex;
  align-items: center;
  gap: 25px;
  & .profil__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    border: 5px solid white;
    overflow: hidden;
    width: 150px;
    flex: none;
  }
  & .author__details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    & .name__author {
      font-family: $fontManropeExtraBold;
      font-size: 1.7rem;
      text-transform: uppercase;
    }
    & .overview {
      font-family: $fontManropeLight;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    & .articles__count {
      font-family: $fontManropeLight;
      font-size: 0.9rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: all 0.5s linear;
      padding: 10px;
      background: black;
      border-radius: 0.8rem;
      align-self: flex-start;
    }
  }
  & .social__media {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }
}

@media only screen and (max-width: 850px) {
  .container__card__profil__author {
    flex-wrap: wrap;
    & .social__media {
      margin-left: 0;
    }
  }
}

.post__card {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  overflow: hidden;
  background: white;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  & .details__post {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    & .post__category,
    .post__duration {
      font-family: $fontManropeLight;
      font-size: 0.8rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: all 0.5s linear;
      padding: 10px;
      background: black;
      border-radius: 0.8rem;
      align-self: flex-start;
    }
  }
  & .cover {
    display: flex;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  & .post__title {
    font-family: $fontManropeLight;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
  }

  & .author__post {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    & .profil__author {
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      height: 70px;
      width: 70px;
      border: 5px solid white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    & .authors_name {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      & p {
        font-family: $fontManropeLight;
        font-size: 1rem;
      }
      & .name__auth {
        font-family: $fontManropeMedium;
      }
    }
    & .actions__posts {
      display: flex;
      align-items: center;
      gap: 10px;
      & .btn {
        font-family: $fontManropeLight;
        font-size: 0.8rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.5s linear;
        padding: 10px;
        background: $colorPrimaryBase;
        border-radius: 0.8rem;
        align-self: flex-start;
        display: flex;
        column-gap: 10px;
      }
    }
  }

  .content__post__text {
    font-family: $fontManropeLight;
    font-size: 1.2rem;
    line-height: 1.7rem;
    & * {
      font-family: $fontManropeLight;
    }
  }
}

.container__comments {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow: hidden;
  background: white;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  & .users__comments {
    display: flex;
    align-items: center;
    column-gap: 15px;
    & .profil {
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      height: 50px;
      width: 50px;
      border: 5px solid white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    & .details {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      & .name__user {
        color: black;
        text-decoration: none;
        font-family: $fontManropeExtraBold;
        &:hover {
          text-decoration: underline;
        }
      }
      & .date__comment {
        font-family: $fontManropeLight;
        font-size: 0.7rem;
      }
    }
  }
  & .comments {
    font-family: $fontManropeLight;
    font-size: 0.9rem;
  }
}

.skeleton__loader {
  border-radius: 0.8rem;
  height: 100%;
  width: 100%;
  background-color: rgba($colorPrimaryBase, 0.2);
  animation: loadingAnimation 1s infinite alternate;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
