@import "../../../../public/style/reset.scss";
@import "../../../../public/style/variable.scss";

.section_page {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  align-items: center;
  justify-content: center;
}

.content__post {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  & .card {
    width: auto !important;
    flex: none !important;
  }
}

@media only screen and (max-width: 1700px) {
  .content__post {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1400px) {
  .content__post {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .content__post {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .content__post {
    grid-template-columns: repeat(1, 1fr);
  }
}
